<div class="card">
  <p-menubar>
      <ng-template pTemplate="start">
          <figure class="my-0 mx-3">
            <img class="w-2rem" src="assets/svgviewer-png-output.png" alt="logo">
          </figure>
      </ng-template>

      <ng-template pTemplate="end">
        @for (item of items; track $index) {
          <a
            routerLinkActive="bg-black-alpha-10"
            [routerLink]="[item?.['path']]"
            pRipple
            class="m-1 p-menuitem-link p-link inline-flex justify-content-center
                  align-items-center hover:bg-black-alpha-10 transition-all transition-duration-200 p-2 text-black-alpha-50">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        }
      </ng-template>
  </p-menubar>
</div>
