<section>
  <div class="container my-8">
    <h1>Register Form</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <!--Username-->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
              <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input pInputText formControlName = "name" placeholder="Username" />
        </p-inputGroup>
        <div class="validation-msg">
          @if (name?.dirty && name?.touched) {

            @if (name?.getError('required')) {
              <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'validation error',
                      detail: 'name is required'
                    }
                  ]"
                  [enableService]="false"
                  [closable]="false"
              />
            }
            @if (name?.getError('minlength')) {
            <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'validation error',
                      detail: 'name must be at least 3 characters'
                    }
                  ]"
                  [enableService]="false"
                  [closable]="false"
              />
            }
            @if (name?.getError('maxlength')) {
              <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'validation error',
                      detail: 'name cannot exceeds 20 characters'
                    }
                  ]"
                  [enableService]="false"
                  [closable]="false"
              />
            }
          }
        </div>
      </div>
      <!--Email-->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
              <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input pInputText formControlName = "email" placeholder="Enter your email" />
        </p-inputGroup>
        <div class="validation-msg">
          @if (email?.touched && email?.dirty) {
            @if (email?.getError('required')) {
              <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'validation error',
                      detail: 'email is required'
                    }
                  ]"
                  [enableService]="false"
                  [closable]="false"
              />
            }
            @if (email?.getError('email')) {
              <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'validation error',
                      detail: 'email not valid!'
                    }
                  ]"
                  [enableService]="false"
                  [closable]="false"
              />
            }
          }
        </div>
      </div>
      <!--Password-->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
              <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input pInputText type="password" formControlName = "password" placeholder="Enter your password" />
        </p-inputGroup>
        <div class="validation-msg">
          @if (password?.touched && password?.dirty) {
            @if (password?.getError('required')) {
              <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'validation error',
                      detail: 'password is required'
                    }
                  ]"
                  [enableService]="false"
                  [closable]="false"
              />
            }
            @if (password?.getError('minlength')) {
            <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'validation error',
                      detail: 'must be at least 5 characters'
                    }
                  ]"
                  [enableService]="false"
                  [closable]="false"
              />
            }
            @if (password?.getError('maxlength')) {
              <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'validation error',
                      detail: 'cannot exceeds 20 characters'
                    }
                  ]"
                  [enableService]="false"
                  [closable]="false"
              />
            }
          }
        </div>
      </div>
      <!--Re-Password-->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
              <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input pInputText type="password" formControlName = "rePassword" placeholder="Enter your password" />
        </p-inputGroup>
        <div class="validation-msg">
          @if (rePassword?.touched && rePassword?.dirty) {
            @if (rePassword?.getError('passNotMatch')) {
              <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'validation error',
                      detail: 'rePassword not match the password'
                    }
                  ]"
                  [enableService]="false"
                  [closable]="false"
              />
            }
          }
        </div>
      </div>

      <div class="card flex justify-content-center">
        <p-button type="submit" label="Submit" />
      </div>
    </form>
  </div>

  <div class="card flex justify-content-center">
    <p-toast />
  </div>
</section>

<ngx-spinner
  bdColor = "rgba(0,0,0,0.5)"
  size = "medium"
  color = "#fff"
  type = "line-scale"
  [fullScreen] = "true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>
